abnumber @ file:///opt/conda/conda-bld/abnumber_1738093317214/work
argcomplete==3.5.1
biopython @ file:///home/builder/ci_310/biopython_1640788437968/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
certifi==2024.12.14
charset-normalizer==3.4.0
docutils==0.17.1
freesasa==2.2.1
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==3.0.2
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mmcif-pdbx==2.0.1
mmtf-python==1.1.3
msgpack==1.1.0
numexpr @ file:///croot/numexpr_1730215937391/work
numpy==1.23.5
packaging==24.1
pandas==2.2.3
pdb2pqr==3.6.2
pdoc==15.0.1
pipx==1.7.1
platformdirs==4.3.6
ProDy @ git+https://github.com/jamesmkrieger/ProDy.git@176c122e1c8288941f64b8b5e6405e6629637b87
propka==3.5.1
protkit==0.3.0
Pygments==2.18.0
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pytz @ file:///croot/pytz_1713974312559/work
requests==2.32.3
scikit-learn==1.6.0
scipy==1.12.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
threadpoolctl==3.5.0
tomli==2.0.2
tzdata==2025.1
urllib3==2.2.3
userpath==1.9.2
